/*탄소 중립은 섹션*/
.header {
    background: transparent;
    border-bottom: 1px solid #43564a;
}

.logo a {
    color: #43564a;
}

section {
    padding: 120px 200px;
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
}

/*탄소 중립은 섹션*/
.carbon-neutrality-section {
    display: flex;
    flex-direction: column;
}

.section-label {
    display: block;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #43564A;
    margin-top: 50px;
}

.carbon-content-wrapper {
    display: flex;
    align-items: flex-start;
}

.section-header {
    width: 400px;
    flex-shrink: 0;
}

.section-title {
    font-size: 58px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
}

.section-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content-text {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
}

 .lead-text strong {
    font-weight: 700;
}

.body-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
    color: #000000;
}

.body-text p {
    margin: 0;
}

.tags {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.tag {
    padding: 5px 10px;
    border: 1px solid #2E5A3E;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    color: #2E5A3E;
    background: transparent;
    transition: all 0.3s ease;
}

.tag:hover {
    background: rgba(46, 90, 62, 0.05);
}


/*'건설로 실현하는 탄소 중립' 섹션*/
.construction-section {
    padding: 120px 200px;
    display: flex;
    flex-direction: column;
}

.construction-label {
    display: block;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #2E5A3E;
    margin-top: 50px;
}

.construction-header {
    margin-bottom: 30px;
}

.construction-title{
    font-size: 58px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
}

.construction-grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 30px;
    width: 100%;
}

.construction-card{
    text-align: center;
    min-width: 0;
}

.construction-image{
    position: relative;
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    overflow: hidden;
}

.construction-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-overlay {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 20px;
}

.card-title{
    font-size: 20px;
    font-weight: 800;
    color: #FFFFFF;
}

.card-text{
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.7;
    margin-top: 15px;
}


/* 순환골재는 섹션 */
.aggregate-section {
  height: 300vh;
  position: relative;
}

.aggregate-sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
     z-index: 10;
}

.aggregate-top {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    position: relative;
    }

.aggregate-content {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.texts p {
    opacity: 0;
    transform: translateY(20px);
    margin: 10px 0;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    max-width: 700px;
}

.texts p strong {
    font-size: 55px;
}

.texts p.active {
    opacity: 1;
    transform: translateY(0);
}

/*순환 골재 이미지 부분*/
.aggregate-down {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 20px;
}


.aggregate-images {
  position: relative;
  width: 70%;
  height: 400px;
  margin: 0 auto;
  overflow: visible;

  }

.aggregate-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  bottom: 0;
  border-radius: 20px;
  overflow: hidden;
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform-origin: center center;
  transform: translateX(-50%) translateY(150px);
  border-radius: 20px;
}


.aggregate-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aggregate-image.image1 {
    z-index: 10;
}

.aggregate-image.image2 {
    z-index: 11;
}

.aggregate-image.image3 {
    z-index: 12;
}

.aggregate-image.image4 {
    z-index: 13;
}

.aggregate-image.active {
  opacity: 1;
  transform: translate(0,0) scale(1);
  pointer-events: auto;
}

/*사용 용도 섹션*/
/*섹션1*/
.usage-section {
    position: relative;
}

.usage-section1-wrapper {
    height: 200vh;
    position: relative;
}

.usage-section1 {
    height: 100vh;
    position: sticky;
    top: 0;
    background-image: url("../images/usage_bg1.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-margin-bottom: 0;
}

.usage-intro {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.usage-intro-text {
    font-size: 80px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/*섹션2*/
.usage-section2 {
    background-image: url("../images/usage_bg2.png");
    background-size: cover;
    background-position: center;
    padding-top: 0;
    padding-bottom: 150px;
    margin-top: -2px;
}

.usage-content {
    padding: 120px 0;
    position: relative;
    display: flex;
    gap: 100px;
}

.usage-header{
    position: sticky;
    top: 120px;
    width: 350px;
    height: fit-content;
    flex-shrink: 0;
}

.usage-label{
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 10px;
    letter-spacing: 0.1em;
}

.usage-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.4;
    color: #FFFFFF;
    margin: 0;
}

.usage-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 200px;
    margin-top: -200px;
}

.usage-item{
    display: flex;
    justify-content: flex-end;
}

.usage-item:nth-child(2) {
    justify-content: flex-start;
}

.usage-text{
   font-size: 16px;
   font-weight: 400;
   line-height: 1.8;
   color: #FFFFFF;
   opacity: 0.8;
   margin: 0;
   text-align: center;
}

.usage-card {
    width: 53%;
    max-width: 1000px;
}

.usage-image {
    position: relative;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 10px;
}

.usage-image-title {
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 35px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 15px 30px;
    margin: 0;
}

.usage-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*텍스트 애니메이션 부분*/
.usage-marquee {
    padding: 80px 0;
    overflow: visible;
    color: #FFFFFF;
    font-size: 60px;
}

.marquee-content {
    display: flex;
    width: 100%;
}

.marquee-list {
    display: flex;
    animation: marquee 20s linear infinite;
    white-space: nowrap;
}

.marquee-item {
    font-size: 120px;
    font-weight: 800;
    color: #FFFFFF;
    padding: 0 50px;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


/*통계 섹션*/
.simulation-title{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 30px;
}


/*시뮬레이션 섹션*/
.simulation-content {
    max-width: 1200px;
    margin: 0 auto;
}


.simulation-title{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 30px;
}


.simulation-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: #656565;
    text-align: center;
    margin: 10px;
    margin-bottom: 10px;

}

.simulation-text {
    font-size: 14px;
    font-weight: 400;
    color: #8B8B8B;
    text-align: center;
    margin-bottom: 60px;
}

.simulation-slider {
    margin: 80px auto 80px;
    padding-left: 100px;
    padding-right: 20px;
}

.slider-container {
    position: relative;
}

.slider-values {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
}

.slider-track {
    position: relative;
    width: 100%;
    height: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    }

.slider-content {
    position: absolute;
    height: 100%;
    border-radius: 10px;
    transition: width 0.3s ease;
    }


.simulation-results {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
    }

.result-card {
    text-align: center;
}

.result-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.result-value {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.result-label {
    font-size: 16px;
    color: #00000;
}

.result-number {
    font-size: 48px;
    font-weight: 700;
    color: #43564A;
}

.result-unit {
    font-size: 18px;
    color: #00000;
    margin-left: 8px;
}



/*한계 섹션*/
.limitation-title{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 30px;
}

.limitation-texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.limitation-text1 {
    font-size: 14px;
    color: #8B8B8B;
}

.limitation-text2 {
    font-size: 14px;
    color: #8B8B8B;
    margin-bottom: 30px;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

.chart-source {
    text-align: right;
    font-size: 12px;
    color: #666;
}



/*문제 그래프 섹션*/
.why-section {
    background: linear-gradient(180deg, #737373 0%, #000000 16%);
    padding: 120px 120px;
    position: relative;
}

.why-title{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #ffffff;
}

.why-subtitle {
    font-size: 13px;
    margin-bottom: 60px;
    color: #656565;
}

.legend {
    position: absolute;
    top: 330px;
    right: 170px;
    display: flex;
    gap: 30px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.legend-color1 {
    background: #43564A;
     width: 15px;
     height: 15px;
     border-radius: 3px;
}

.legend-color2 {
    background: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 3px;
}

.legend-text {
    color: #666;
    font-size: 10px;
}


/*문제 그래프 섹션 JS*/
.chart-container {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0 auto 30px;
    padding: 0 60px;
}

.chart-source {
    text-align: right;
    font-size: 12px;
    color:#888888;;
}

/*과정 섹션*/
.procedure-section {
    overflow-x: hidden;
}

.procedure-title{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 30px;
}

/*타임라인 부분*/
.timeline-container {
    margin-bottom: 100px;
    position: relative;
    margin-top: 120px;
    padding-left: 0;
}

.timeline-start {
    position: absolute;
    left: 0;
    top: 100px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.timeline-start .start-dot {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: #43564A;
   position: relative;
}

.timeline-label {
    font-size: 14px;
    font-weight: 500;
    color: #43564A;
    margin-bottom: 40px;
}

.timeline {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    gap: 40px;
    margin-left: 100px;
}

/*타임라임 가로선*/
.timeline::before {
    content: '';
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 2px;
    background: #43564A;
}

/*타임라임 세로선 위쪽*/
.timeline-step.has-top .step-dot::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 60px;
    background: #43564A;
}

/*타임라임 세로선 아래쪽*/
.timeline-step.has-bottom .step-dot::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 60px;
    background: #43564A;
}

.timeline-step {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    z-index: 1;
}

.step-top {
    position: absolute;
    bottom: calc(100% + 70px);
    color: #43564A;
    text-align: center;
}

.step-bottom {
    position: absolute;
    top: calc(100% + 70px);
    color: #43564A;
    text-align: center;
}

.step-number {
    font-size: 16px;
    font-weight: 700;
    color: #43564A;
    margin-bottom: 5px;
}

.step-text {
    font-size: 14px;
    font-weight: 500;
    color: #43564A;
    white-space: nowrap;
}

.step-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #43564A;
    position: relative;
}

.timeline-step.highlight .step-dot {
    width: 13px;
    height: 13px;
    background: #43564A;
}

.timeline-step.highlight .step-number {
    color: #43564A;
    font-size: 18px;
    font-weight: 800;
}

.timeline-step.highlight .step-text {
    color: #43564A;
    font-weight: 700;
}

.procedure-subtitle {
    font-size: 24px;
    font-weight: 600;
    color: #43564A;
    text-align: center;
    margin-top: 60px;
}


/*솔루션 섹션*/
.solution-section {
    padding: 100px 120px;
}

.solution-title{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 30px;
}

.solution-cards {
    display: flex;
    gap: 110px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.solution-card {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content {
    width: 320px;
    height: 412px;
    background: #202B3E;
    border-radius: 10px;
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.card-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 0.81;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0;
}

.card-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #040000;
    text-align: left;
}

.button-section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-analyze {
    padding: 10px 35px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background: #050505;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-analyze:hover {
    background: rgba(5, 5, 5, 0.8);
}



