<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>


<body>
<div class="toolbar">
    <button class="tool-btn" onclick="location.href='/'" title="홈">
        <img src="images/toolbar-home.png" alt="홈">
    </button>


        <button class="tool-btn" onclick="location.href='/about'" title="소개">
            <img src="images/toolbar-about.png" alt="소개">
        </button>


    <button class="tool-btn" onclick="location.href='/analyze'" title="분석">
        <img src="images/toolbar-analyze.png" alt="분석">
    </button>

</div>

</body>
</html>


