<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<header class="header">
    <div class="header-container">

        <div class="logo">
            <a href="/">Re:source</a>
        </div>

		<nav class="nav">
			<ul class="nav-list">
				<li class="nav-item">
					<a href="/about" class="nav-link">ABOUT</a>
				</li>
				<li class="nav-item">
					<a href="/analyze" class="nav-link">ANALYZE</a>
				</li>
				<li class="nav-item">
					<a href="/mypage" class="nav-link">MY</a>
				</li>
				<li class="nav-item">
                    {{#authenticated}}
                        <a href="/logout" class="nav-link nav-link-login">LOG OUT</a>
                    {{/authenticated}}
                    {{^authenticated}}
                        <a href="/login" class="nav-link nav-link-login">LOG IN</a>
                    {{/authenticated}}
				</li>
			</ul>
		</nav>
    </div>
</header>
</body>
</html>

