<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intro Page</title>
    <link rel="stylesheet" href="/css/common.css">

</head>

<style>
    .header {
    background: transparent;
    border-bottom: 1px solid #43564a;
    }

    .logo a {
    color: #43564a;
    }

    section.about-carbon {
        padding: 120px 200px;
        max-width: 1560px;
        margin: 0 auto;
        line-height: 1.8;
    }

    .about-carbon-title-box h3{
          font-size: 36px;
          font-weight: 700;
          color: #000000;
          margin-bottom: 40px;
    }

    .about-carbon-subtitle{
         display: inline-block;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1.5px;
          color: #2e5a3e;
          margin-bottom: 30px;
    }

    .about-carbon-flex-box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 60px;
        padding: 0px;
    }

    .about-carbon-text h5{
          font-size: 20px;
          line-height: 1.6;
          margin-bottom: 20px;
          color: #000000;
          font-weight: 600;
    }

    .about-carbon-subtext{
        font-size: 16px;
        color: #333;
        line-height: 1.8;
        margin-bottom: 40px;
    }

    .hashtags {
          display: flex;
          gap: 12px;
          margin-top: 20px;
          flex-wrap: wrap;
}

    .hashtags span {
        padding: 8px 16px;
        border: 1px solid #2e5a3e;
        border-radius: 20px;
        font-size: 14px;
        color: #2e5a3e;
        background: transparent;
    }



</style>

<body>
{{> layout/header}}

<!--'탄소 중립은' 섹션-->
<section class="about-carbon">
    <div class="about-carbon-title-box">
        <span class="about-carbon-subtitle">ABOUT CARBON NEUTRALITY</span>
        <h3>탄소 중립은</h3>
    </div>

    <div class="about-carbon-flex-box">
        <div class="about-carbon-text">
            <h5>인간의 활동으로 배출되는 이산화탄소를<br>
                흡수하거나 제거하여 실질적인 배출량을 <strong>‘0’</strong>으로 만드는 <br>
                지속가능한 기후 대응 전략입니다.
            </h5>
        </div>

        <div class="about-carbon-subtext">
            <p>
                지구 온난화와 기후위기의 주된 원인인 온실가스를 줄이기 위해, 전 세계는 탄소중립 달성을 핵심 과제로 삼고 있습니다. <br>
                탄소중립은 단순히 배출을 줄이는 데 그치지 않고, 재생에너지 확대, 에너지 효율 개선, 순환경제 실현, 친환경 기술 개발 등을 통해 달성할 수 있습니다. <br>
                국가와 기업뿐만 아니라 개인의 생활 방식 변화 역시 중요한 요소이며, 작은 실천이 모여 큰 변화를 만들어낼 수 있습니다. <br>
                탄소중립은 미래 세대를 위한 선택이 아닌 지금 우리가 반드시 실천해야 할 과제입니다.
            </p>
        </div>

        <div class="hashtags">
           <span class="">#탄소중립</span>
            <span class="">#친환경솔루션</span>
            <span class="">#재생에너지</span>
            <span class="">#순환경제</span>
            <span class="">#온실가스감축</span>
        </div>
    </div>
</section>

<!--'탄소 중립은' 섹션 끝-->



{{> layout/footer}}
</body>
</html>



